@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f8fafc; /* Default light background color */
  --text-color: #111827; /* Default light text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1f2937; /* Dark background color */
    --text-color: #f9fafb; /* Dark text color */
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
